.navbar {
    padding-left: 80px;
    padding-right: 80px;
    background-color: rgb(188, 188, 64);
}
  
.nav-style {
    justify-content: flex-end;
}
  
.navbar-nav {
    width: 40%;
    justify-content: space-between;
}
  
.navbar-light .navbar-brand {
    font-size: 30px;
    font-weight: bold;
}
  
.navbar-light .navbar-nav .nav-item .nav-link {
    color: #e7e6e1;
    font-size: 18px;
    font-family: 'Proza Libre', sans-serif;
}
  
.navbar-light .navbar-nav .nav-item .nav-link:hover {
    color: #615c3d;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

img {
    max-height: 1100px;
    max-width: 1440px;
    height: auto;
    width: auto;
}

.content {
    display: flex;
    flex-direction: row;
    max-width: 1440px;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 25px;
}

.content__cover {
    max-width: 600px;
    max-height: 400px;
    width: auto;
    height: auto;
}

#cover {
    max-width: 600px;
    max-height: 400px;
    width: auto;
    height: auto;
}

.content__info {
   max-width: 600px;
   width: 100%;
}

.songs {
    margin-top: 25px;
}

ul {
    list-style: none;
    font-weight: bold;
}