/* NAV  */

.navbar {
    padding-left: 80px;
    padding-right: 80px;
    background-color: #BCBC40;
  }
  
  .nav-style {
    justify-content: flex-end;
  }
  
  .navbar-nav {
    width: 40%;
    justify-content: space-between;
  }
  
  .navbar-light .navbar-brand {
    font-size: 30px;
    font-weight: bold;
  }
  
  .navbar-light .navbar-nav .nav-item .nav-link {
    color: #e7e6e1;
    font-size: 18px;
    font-family: 'Proza Libre', sans-serif;
  }
  
  .navbar-light .navbar-nav .nav-item .nav-link:hover {
    color: #615c3d;
  }
  
  /* NAV END */
  
  /* HEADER */
  .carousel-inner {
    height: 80vh;
    z-index: -2;
  }
  
  .carousel__container {
    height: 80vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
  }
  
  .header-text {
    position: absolute;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 400px;
    height: 100%;
    justify-content: space-evenly;
  }
  
  .header-text h2 {
    color: #e7e6e1;
    font-size: 5rem;
  }
  
  .header-text a {
    text-decoration: none;
    color: #e7e6e1;
    font-size: 1.5rem;
  }
  
  .header-text a:hover {
    color: #615c3d;
  }
  
  
  /* FOOTER */
  
  footer {
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 10px;
    background-color: rgb(188, 188, 64);
    height: 15vh;
  }
  
  .footer-logo {
    font-weight: bold;
    font-size: 25px;
    text-decoration: none;
    color: black;
  }
  
  .footer-logo:hover {
    color: black;
  }
  
  .footer__cont {
    display: flex;
    justify-content: space-between;
  }
  
  .copy {
    align-self: flex-end;
    margin: 0;
    color: #615c3d;
    opacity: 0.7;
  }
  
  .footer__cont-links {
    width: 10%;
    display: flex;
    justify-content: space-between;
  }
  
  .footer__cont-links-list {
    display: flex;
    flex-direction: column;
  }
  
  .footer__cont-links-list a {
    margin-top: 5px;
    color: #615c3d;
    text-decoration: none;
    transition: all ease-in-out 0.2s;
  }
  
  .footer__cont-links a:hover {
    color: #e7e6e1;
  }
  
  * {
    margin: 0;
    padding: 0;
}
 
html {
    scroll-behaviour: smooth;
}
 
:root {
    --navbar-height: 59px;
}
 
.logo {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
 
.logo img {
    width: 33%;
    border: 2px solid white;
    border-radius: 50px;
}
 
.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    cursor: pointer;
}
 
.nav-list {
    width: 70%;
    display: flex;
}
 
.nav-list li {
    list-style: none;
    padding: 2px 6px;
}
 
.nav-list li a {
    text-decoration: none;
    color: white;
}
 
.nav-list li a:hover {
    color: grey;
}
 
.rightNav {
    width: 50;
    text-align: right;
}
 
#search {
    padding: 5px;
    font-size: 17px;
    border: 2px solid grey;
    border-radius: 9px;
}
 
.background {
    background-color: grey;
    background-blend-mode: darken;
    background-size: cover;
}
 
.firstsection {
    height: 100vh;
}
 
.box-main {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    max-width: 50%;
    margin: auto;
    height: 80%;
}
 
.firstHalf {
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
 
.firstHalf img {
    display: flex;
    border-radius: 9050px;
}
 
.text-big {
    font-family: "Piazzolla", serif;
    font-weight: bold;
    font-size: 41px;
    text-align: center;
}
 
.text-small {
    font-family: "Sansita Swashed", cursive;
    font-size: 18px;
    text-align: center;
}
 
#service {
    margin: 34px;
    display: flex;
}
 
#service .box {
    padding: 45px;
    margin: 3px 6px;
    border-radius: 28px;
}
 
#service .box img {
    margin-top: 20px;
    height: 100px;
    margin: auto;
    display: block;
    border-radius: 200px;
}
 
#service .box p {
    font-family: sans-serif;
    text-align: center;
}
 
.btn {
    padding: 8px 20px;
    margin: 7px 0;
    border: 2px solid white;
    border-radius: 8px;
    background: none;
    color: white;
    cursor: pointer;
}
 
.btn-sm {
    padding: 6px 10px;
    vertical-align: middle;
}
 
.center {
    text-align: center;
}
 
.text-footer {
    text-align: center;
    padding: 30px 0;
    font-family: "Ubuntu", sans-serif;
    display: flex;
    justify-content: center;
}
#map {
    height: 100%;
    width: 100%;
  }
