/* NAV  */

.navbar {
  padding-left: 80px;
  padding-right: 80px;
  background-color: rgb(188, 188, 64);
}

.nav-style {
  justify-content: flex-end;
}

.navbar-nav {
  width: 40%;
  justify-content: space-between;
}

.navbar-light .navbar-brand {
  font-size: 30px;
  font-weight: bold;
}

.navbar-light .navbar-nav .nav-item .nav-link {
  color: #e7e6e1;
  font-size: 18px;
  font-family: 'Proza Libre', sans-serif;
}

.navbar-light .navbar-nav .nav-item .nav-link:hover {
  color: #615c3d;
}

/* NAV END */

/* HEADER */
.carousel-inner {
  height: 80vh;
  z-index: -2;
}

.carousel__container {
  height: 80vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
}

.header-text {
  position: absolute;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 400px;
  height: 100%;
  justify-content: space-evenly;
}

.header-text h2 {
  color: #e7e6e1;
  font-size: 5rem;
}

.header-text a {
  text-decoration: none;
  color: #e7e6e1;
  font-size: 1.5rem;
}

.header-text a:hover {
  color: #615c3d;
}

/* CARDS */

main {
  width: 100%;
  height: 140vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(97, 92, 61);
  background: linear-gradient(146deg, rgba(97, 92, 61, 0.541) 32%, rgba(231, 230, 225, 1) 45%);
}

.cards__ {
  width: 80%;
  height: 80%;
  display: grid;
  grid-template: repeat(11, 1fr) / 1fr 250px 1fr;
  row-gap: 10px;
}

.top-box {
  position: absolute;
  top: 0;
  width: 100%;
  height: 30%;
  background: rgb(255, 255, 255);
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.637) 23%, rgba(255, 255, 255, 0) 62%);
  border-radius: 6px;
}

.cards__ img {
  max-width: 250px;
  min-width: 250px;
  max-height: 181px;
}

.cards__card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #615c3d;
  height: 50vh;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  border-radius: 6px;
  transition: all ease-in-out 0.6s;
}

.cards__card:hover {
  transform: scale(1.05);
}

.cards__card h4 {
  margin-top: 15px;
  z-index: 2;
}

.card-1 {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  background-image: url('/images/john-lennon.jpg');
  background-size: cover;
}

.card-2 {
  grid-column: 3 / 3;
  grid-row: 1 / 2;
  background-image: url('/images/paul-mccartney.jpg');
  background-size: cover;
}

.card-3 {
  grid-column: 1 / 2;
  grid-row: 11 / 11;
  background-image: url('/images/ringo-starr.jpg');
  background-size: cover;
}

.card-4 {
  grid-column: 3 / 3;
  grid-row: 11 / 11;
  background-image: url('/images/george-harrison.jpg');
  background-size: cover;
}

/* BUTTON */

.read-more {
  width: 35%;
  height: 12%;
  border-radius: 6px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-bottom: 20px;
  background-color: #615c3d;
  color: #e7e6e1;
  transition: all ease-in-out 0.2s;
}

.read-more:hover {
  background-color: rgb(188, 188, 64);
  color: #615c3d;
}

/* FOOTER */

footer {
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 10px;
  background-color: rgb(188, 188, 64);
  height: 15vh;
}

.footer-logo {
  font-weight: bold;
  font-size: 25px;
  text-decoration: none;
  color: black;
}

.footer-logo:hover {
  color: black;
}

.footer__cont {
  display: flex;
  justify-content: space-between;
}

.copy {
  align-self: flex-end;
  margin: 0;
  color: #615c3d;
  opacity: 0.8;
}

.footer__cont-links {
  width: 10%;
  display: flex;
  justify-content: space-between;
}

.footer__cont-links-list {
  display: flex;
  flex-direction: column;
}

.footer__cont-links-list a {
  margin-top: 5px;
  color: #615c3d;
  text-decoration: none;
  transition: all ease-in-out 0.2s;
}

.footer__cont-links a:hover {
  color: #e7e6e1;
}
